body {
    background-image: url('/static/wood.png');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.loading {
    text-align: center;
    font-size: 24px;
    padding: 50px;
}

.album-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}