body {
    background-image: url('\\static\\photo-1632199495802-18f7d21f323b.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.loading {
    text-align: center;
    font-size: 32px;
    padding: 50px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.album-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.border-purple {
    box-shadow: 0 0 6px 2px white, 0 0 20px 8px purple, 0 0 40px 16px purple;
}

.border-blue {
    box-shadow: 0 0 6px 2px white, 0 0 20px 8px rgb(0, 132, 255), 0 0 40px 16px rgb(0, 132, 255);
}

.border-gold {
    box-shadow: 0 0 6px 2px white, 0 0 20px 8px goldenrod, 0 0 40px 16px goldenrod;
}

.border-silver {
    box-shadow: 0 0 6px 2px white, 0 0 20px 8px silver, 0 0 40px 16px silver;
}

#albums-container{
    padding: 20px;
    margin-top: 20px;
}

.album-card p {
    text-shadow: -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black, 1px 1px 0 black;
}

.back-btn {
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 15px;
    text-decoration: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}