<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Guesser</title>
    <link rel="stylesheet" href="/static/dogbreed.css">
</head>
<body>
 
<a href="/">&lt; Back</a>
 
<h1>Dog Breed Guesser</h1>
 
<p>Streak: <span id="streak">0</span></p>
 
<div id="dog-image-container">
    <img id="dog-image" src="" alt="Guess the breed" style="max-width: 400px;">
</div>
 
<div id="guess-area">
    <input type="text" id="guess-input" placeholder="Type a breed name...">
    <button onclick="submitGuess()">Guess</button>
</div>
 
<p id="result-message"></p>

<script src="/static/dogbreed.js"></script>

</body>


</html>