<!DOCTYPE html>
<html>
<head>
    <title>last.fm albums listened to in full</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<a href="/" class="back-btn">&lt; Back</a>

<div class="search-bar">
    <input type="text" id="username-input" placeholder="Enter last.fm username">
    <button onclick="loadAlbums()">Search</button>
</div>

<div id="albums-container">
    <div class="loading">Enter a last.fm username to get started</div>
</div>

<script src="/static/script.js"></script>

</body>
</html>