<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="/static/room.css">
</head>
<body>
<div id="room">
    <div class="wall" id="wall-front">
        <a href="/lastfm" class="door">Last.fm Album Tracker</a>
    </div>
    <div class="wall" id="wall-right">
        <a class="door">About Me (wip)</a>
    </div>
    <div class="wall" id="wall-back">
    </div>
    <div class="wall" id="wall-left">
    </div>
</div>
<button class="turn-btn right" onclick="turn(1)">&gt;</button>
<button class="turn-btn left" onclick="turn(-1)">&lt;</button>

<script src="/static/room.js"></script>
</body>
</html>