<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="/static/room.css">
</head>
<body>
<div id="scene">
    <div id="room">
        <div class="wall" id="wall-front">
            <a href="/lastfm" class="door" onclick="window.location='/lastfm'">Last.fm Album Tracker</a>
        </div>
        <div class="wall" id="wall-right">
            <a class="door">Wall 2</a>
        </div>
        <div class="wall" id="wall-back">
            <a class="door">Wall3</a>
        </div>
        <div class="wall" id="wall-left">
            <a href="https://kale-terrier-sk3x.squarespace.com/" class="door">About Me</a>
        </div>
        <div id="floor"></div>
        <div id="ceiling"></div>
    </div>
</div>
<div id="ui">
    <div id = "click-zone"></div>
    <button class="turn-btn left" onclick="turn(-1)">&lt;</button>
    <button class="turn-btn right" onclick="turn(1)">&gt;</button>
</div>
<script src="/static/room.js"></script>
</body>
</html>